@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');

body {
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../IMG/diego-jimenez-A-NVHPka9Rk-unsplash.jpg);
    background-size: cover;
    font-family: 'Fugaz One', cursive;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 2em;
}

.buttons {
    display: flex;
    gap: 10px;
}

button {
    width: 7em;
    height: 1.8em;
    background-color: rgb(45, 45, 45);
    color: rgb(217, 217, 217);
    border-radius: 5px;
    border: 2px solid rgb(217, 217, 217);
    transition: 1s;
    cursor: pointer;
}

button:hover {
    background-color: rgb(217, 217, 217);
    color: rgb(45, 45, 45);
    border: 2px solid rgb(45, 45, 45);
    transition: 1s;
}

p {
    position: absolute;
    bottom: 0px;
    color: rgb(217, 217, 217);
}