@import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');

body {
    height: 98vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Rye', cursive;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

h1, p {
    text-align: center;
}

input {
    height: 20px;
}

button {
    background-color: black;
    border: 1px solid rgb(158, 158, 158);
    color: white;
    border-radius: 7px;
    padding:  5px 12px 5px 12px;
}