@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

/*------------------------Global------------------------*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;

}

body, html {
    height: 100%;   
}

body, div {
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    background-color: #ffffff;
    background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
}

span {
    font-size: 7em;
    font-weight: bold;
}

h2 {
    font-size: 5em; 
}

button {
    padding: 0.25rem;
    width: 8rem;
    font-size: 1rem;
    border-radius: 10px;
    border: 3px solid black;
    font-weight: bold;
    cursor: pointer;
    background: transparent;

    margin-top: 10px;
    letter-spacing: 2px;
    transition: 0.7s;
}

button:hover {
    background: black;
    color: white;
    transition: 0.7s;
}

/*-------------------------Main-------------------------*/
#div-all {
    flex-direction: column;
}

#div-buttons {
    gap: 20px;
}
